<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998975273607-so51ai272fr75rgt5vtkf7kut1v16g23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998975273607-so51ai272fr75rgt5vtkf7kut1v16g23</string>
	<key>API_KEY</key>
	<string>AIzaSyDU8e2ROZuQyvnPuq9fL4yA8nUUWHChl-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>998975273607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shoxruxdev.medicalapp</string>
	<key>PROJECT_ID</key>
	<string>mmpapp-9bba1</string>
	<key>STORAGE_BUCKET</key>
	<string>mmpapp-9bba1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998975273607:ios:903ddfd1dc6c5b785fd622</string>
</dict>
</plist>